body {
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.content {
    background-color: #ece4e4;
    margin: 10px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 10px rgb(68, 30, 30);
    border-radius: 10px;
    box-sizing: border-box;
}

header {
    background-color: #7f5a1a;
    padding: 10px 0px 10px 15px;
    border-radius: 10px 10px 0 0;
    color: #410808;
}

header h1 {
    text-shadow: 1px 1px 2px #000;
}

nav {
    background-color: #000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a:hover {
    background-color: #d2b48c;
    color: #000;
}

.carrusel {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.img-productos {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.img-productos img {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250rem);
    }
}

#menu {
    width: 90%;
    margin: 2rem;
    padding: 1.5rem 2rem;
    background-color: #fffff9;
    border-radius: 12px;
    color: #4b3b2b;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    margin-bottom: 1.6rem;
    border-left: 4px solid #bd956d;
    padding-left: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

#menu ul li:hover {
    background-color: #f3e9d2;
}

#menu ul li strong {
    font-size: 1.15rem;
    color: #7f5a1a;
}

#menu ul li small {
    display: block;
    font-size: 0.85rem;
    font-style: italic;
    color: #8b7d65;
    margin-top: 0.2rem;
}

#promos, #nosotros, #contacto {
    width: 90%;
    margin: 2rem;
    padding: 1.5rem 2rem;
    background-color: #fffff9;
    border-radius: 12px;
    color: #4b3b2b;
}

#promos ul, #nosotros ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#promos ul li, #nosotros ul li {
    margin-bottom: 1.6rem;
    border-left: 4px solid #bd956d;
    padding-left: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

#promos ul li:hover, #nosotros ul li:hover {
    background-color: #f3e9d2;
}

#promos ul li strong, #nosotros ul li strong {
    font-size: 1.15rem;
    color: #7f5a1a;
}

#promos ul li small, #nosotros ul li small {
    display: block;
    font-size: 0.85rem;
    font-style: italic;
    color: #8b7d65;
    margin-top: 0.2rem;
}

#contacto p {
    margin: 0.8rem 0;
    font-size: 0.95rem;
    color: #4b3b2b;
}

#contacto h1 {
    margin-bottom: 1rem;
}

#contacto p:last-child {
    margin-top: 1.5rem;
    font-size: 0.85rem;
    text-align: center;
    color: #38280d;
}
